force-app/main/default/flows/Average_Monthly_Volume.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_account_average_monthly</name>
        <label>Add account average monthly</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>VolumeCurrency_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Volumes_loop.DailyTransaction__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Volumes_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_account_to_list</name>
        <label>Add account to list</label>
        <locationX>226</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Accounts_loop.AverageMonthlyVolume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AverageMonthlyVolume_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecords_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Accounts_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accounts_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resat_account_average_monthly</name>
        <label>Resat account average monthly</label>
        <locationX>226</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>VolumeCurrency_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Volumes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_need_run</name>
        <label>Is need run</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeedRun_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account</targetReference>
            </connector>
            <label>Need</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AverageMonthlyVolume_Formula</name>
        <dataType>Currency</dataType>
        <expression>IF({!VolumeCurrency_Variable} == 0, 0, {!VolumeCurrency_Variable} / 12)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IsNeedRun_Formula</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 18</expression>
    </formulas>
    <formulas>
        <name>LastYear_Formula</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 365</expression>
    </formulas>
    <interviewLabel>Average Monthly Volume {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Average Monthly Volume</label>
    <loops>
        <name>Accounts_loop</name>
        <label>Accounts loop</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Resat_account_average_monthly</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Volumes_loop</name>
        <label>Volumes loop</label>
        <locationX>226</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Volumes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_account_average_monthly</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_account_to_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts_loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AverageMonthlyVolume__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volumes</name>
        <label>Get Volumes</label>
        <locationX>226</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Volumes_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accounts_loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastYear_Formula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volume__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DailyTransaction__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_accounts</name>
        <label>Update accounts</label>
        <locationX>50</locationX>
        <locationY>1284</locationY>
        <inputReference>AccountRecords_Variable</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_need_run</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-17</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecords_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VolumeCurrency_Variable</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
